body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

#mainMovie,
#newMovie {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 50px;
}

h1 {
    text-align: center;
}

#addButton {
    display: flex;
    align-items: center;
    margin: auto;
}

tr {
    height: 50px;
}

th {
    font-size: x-large;
}

th,
td {
    text-align: center;
    padding: 0px 30px;
}

#newMovie {
    display: none;
}

.heads {
    font-size: x-large;

}

input,
select {
    font-size: large;
}

.validationError {
    color: red;
}